.vscode
.vs
.DS_Store
main
main.exe
results/
*.mesh
*.png
*.csv
x64/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

